/* Tags */

article {
  margin: 20px 0px;
}

header {
  background: #e50914;
}


dt {
  display: inline;
}

dd {
  display: inline;
}

/* IDs */


/* Classes */

.avatar-author {
  width: 32px;
}

.breadcrumb-container {
  background: #e0e0e0
}

.breadcrumb {
  margin-bottom: 0;
  padding: 8px;
  background: #e0e0e0;
}

.credentials-container {
  position: absolute;
  right: 10px;
}

.credentials {
  padding: 20px;
  margin-top: -30px;
  border: 1px solid #b3b3b3;
  background: #fff;
  a {
    color: #333;
    text-decoration: underline;
  }
}

.credentials-toggle {
  color: #b3b3b3;
  float: right;
  margin: 10px;
  padding: 0;
  cursor: pointer;
}

.filters {
  background: #868686;
}

p.lead {
  margin-bottom: 40px;
}

a.logo-app {
	color: #fff;
	font-size: 22px;
	padding: 10px;
  	text-decoration: none;
    display: inline-block;
    .octicon {
      font-size: 20px;
      &:before {
        margin-right: 5px;
      }
    }
}

.logo-org {
  width: 100%;
}

.search {
  &.inline {
    padding: 10px 0;
  }
  &.main {
	margin-top: 100px;
  }
}

.table-hover tr {
  cursor: pointer;
}

.sortable {
  cursor: pointer;
}

.octicon {
  margin-right: 5px;
}

