doctype html
html(ng-app="app")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")

		title Repo Explorer

		link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="lib/octicons/octicons/octicons.css")
		link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="app.css")
	body
		header(ng-include="'layout/header.html'")
		main
			div(ng-include="'layout/credentials.html'")
			div(ng-view="")
		footer(ng-include="'layout/footer.html'")

		script(src="lib/angular/angular.min.js")
		script(src="lib/angular-route/angular-route.min.js")
		script(src="app.js")
