.container-fluid
    .row
        .col-lg-2
            a.logo-app(href="#/")
                em
                    span.octicon.octicon-eye Repo Explorer
        //.col-xs-4
            .search.secondary
                input.form-control(type="text", name="org-search")