main
    .container-fluid
        .row.breadcrumb-container
            .col-xs-2
            .col-xs-8
                ol.breadcrumb
                    li {{ vm.org.name }}
        .row
            .col-xs-2
                aside(ng-include="'layout/org-profile.html'")

            .col-xs-8
                article
                    section
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th
                                        span.sortable(ng-click="reverse = !reverse; vm.order('name', reverse)") Name
                                    th
                                        span.sortable(ng-click="reverse = !reverse; vm.order('language', reverse)") Language
                                    //th
                                        span.octicon.octicon-eye
                                        | Watchers
                                    th
                                        span.octicon.octicon-star
                                        span.sortable(ng-click="reverse = !reverse; vm.order('stargazers_count', reverse)") Stargazers
                                    th
                                        span.octicon.octicon-repo-forked
                                        span.sortable(ng-click="reverse=!reverse; vm.order('forks', reverse)") Forks
                            tbody
                                tr(ng-repeat="repo in vm.repos", ng-click="vm.viewRepo(repo)")
                                    td
                                        span.octicon.octicon-repo
                                        | {{ repo.name }}
                                    td {{ repo.language }}
                                    //td {{ repo.watchers_count }}
                                    td {{ repo.stargazers_count }}
                                    td {{ repo.forks }}