main
    .container-fluid
        .row.breadcrumb-container
            .col-xs-2
            .col-xs-8
                ol.breadcrumb
                    li
                        a(href="#/organizations/{{ vm.org.login }}/repos") {{ vm.org.name }}
                    li {{ vm.repo.name }}
        .row
            .col-xs-2
                aside(ng-include="'layout/org-profile.html'")

            .col-xs-8
                article

                    h1 {{ vm.repo.name }}
                    p.lead {{ vm.repo.description }}

                    h2 Latest Commits
                    section
                        table.table
                            thead
                                tr
                                    th &nbsp;
                                    th Author
                                    th Date
                                    th Message
                            tbody
                                tr(ng-repeat="commit in vm.commits")
                                    td
                                        img.avatar-author(ng-src="{{ commit.author.avatar_url }}")
                                    td.text-nowrap {{ commit.commit.committer.name }}
                                    td.text-nowrap {{ commit.commit.committer.date | date:'MM/dd/yyyy h:mma' }}
                                    td {{ commit.commit.message }}

